<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main class="container-fluid">
<div class="row my-4">
    <div class="col">
        <center><h1 style="color: white; border: 3px solid whitesmoke; background-color: black;">Project was made by: </h1></center>
    </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="jumbotron">
        <img src="/media/arsen.jpg" style="width: 100%; border-radius: 5px;" alt="Photo">
        <h2>Arsenii Kobelianskyi</h2>
        <p><b>ID: </b>23/1/0855/028</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="jumbotron">
        <img src="/media/den4ik.jpg" style="width: 100%; border-radius: 5px;" alt="Photo">
        <h2>Denys Mashevskyi</h2>
        <p><b>ID: </b>23/1/0855/033</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="jumbotron">
        <img src="/media/hlib.jpg" style="width: 100%; border-radius: 5px;" alt="Photo">
        <h2>Hlib Tereshchenko</h2>
        <p><b>ID: </b>23/1/0855/049</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="jumbotron">
        <img src="/media/vlas.jpg" style="width: 100%; border-radius: 5px;" alt="Photo">
        <h2>Vlas Okseniuk</h2>
        <p><b>ID: </b>23/1/0855/038</p>
    </div>
  </div>
</div>
</main>

</body>
</html>